# Run from the project root: export UV_CACHE_DIR="$PWD/.cache/uv"
UV_CACHE_DIR=.cache/uv
TORCH_HOME=.cache/torch
YOLO_CONFIG_DIR=.cache/ultralytics
CUDA_VISIBLE_DEVICES=
WANDB_API_KEY=
WANDB_PROJECT=
WANDB_NAME=
ROBOFLOW_API_KEY=
ROBOFLOW_VERSION=
